<p>layout de la pagina principal</p>
<div *ngIf="user">
  Usuario con sesion iniciada es : {{user.nombres}} {{user.apellidos}}
  <a routerLink="/auth/logout">cerrar sesion</a>
</div>
<div *ngIf="!user">
  no hay usuario
  <a routerLink="/auth/login">iniciar sesion</a>
</div>
<div>
  <a routerLink="/privado">pagina privada</a>
</div>
<div>
  <a routerLink="/publico">pagina publica</a>
</div>
<router-outlet></router-outlet>