<section>
  <article>
    <div class="text-center">
      <h1>Iniciar sesión</h1>
    </div>
    <div class="form-group">
      <label for="email">Correo electronico:</label>
      <input type="text" class="form-control" name="email" #email>
    </div>
    <div class="form-group">
      <label for="email">Contraseña:</label>
      <input type="password" class="form-control" name="password" #password>
    </div>
    <div class="text-center">
      <button type="button" class="btn btn-primary" name="email"
              (click)="login(email.value, password.value)">
        Entrar
      </button>
    </div>

  </article>
</section>